# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environments
wallet-service/.env
wallet-service/.venv
.env
.venv
env/
.venv/


# IDE
.vscode/
.idea/
*.iml
*.xml
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
logs/
*.db







